<ion-view view-title="Main Tab">
  <ion-content>

    <div class="list">
        <li class="item">
            <button class="button button-full button-positive">
                Choose any image
            </button>
        </li>
         <li class="item">
            <a class="post button button-full button-positive" href="{{url}}">
                Upload
            </a>
        </li>
        <li class="item">
            <img ng-src="{{imageData}}" alt="Goku with glasses">
        </li>
    </div> 

  </ion-content>
</ion-view>
