[project]
	description = la vieja esta en la cueva
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pablo Bello (PabloGBello)
[access "refs/for/refs/*"]
	read = group user/Pablo Bello (PabloGBello)
	push = group user/Pablo Bello (PabloGBello)
	label-Code-Review = -2..+2 group user/Pablo Bello (PabloGBello)
	label-Verified = -1..+1 group user/Pablo Bello (PabloGBello)
	rebase = group user/Pablo Bello (PabloGBello)
	removeReviewer = group user/Pablo Bello (PabloGBello)
	submit = group user/Pablo Bello (PabloGBello)
[access "refs/heads/*"]
	read = group user/Pablo Bello (PabloGBello)
	create = group user/Pablo Bello (PabloGBello)
	push = +force group user/Pablo Bello (PabloGBello)
	pushMerge = group user/Pablo Bello (PabloGBello)
[access "refs/tags/*"]
	push = group user/Pablo Bello (PabloGBello)
	push = +force group user/Pablo Bello (PabloGBello)
